@font-face {
  font-family: 'Code New Roman';
  src: url('../fonts/cnr.otf');
}

body {
  //background-image: url('swirl_pattern.png');
  background: #bababa url('grain.png');
}

.title {
  font-size: 58px;
  font-family: 'Code New Roman';
  text-align: left;
  color: #525252;
  text-shadow:#e0e0e0 1px 1px 0;
}

.subtitle {
  font-size: 22px;
  font-family: 'Code New Roman';
  text-align: left;
  color: #525252;
}

.text {
  font-size: 18px;
  font-family: 'Code New Roman';
  text-align: justify;
  color: #525252;
}

.demo {
  padding-top: 40px;
  text-align: center;
}

.section {
  background-color: white;
  border: 3px solid #696969;
}

.titlefeature {
  font-size: 34px;
  font-family: 'Code New Roman';
  color: #525252;
  text-shadow: none;
}

.category {
  font-size: 24px;
  font-family: 'Code New Roman';
  color: #525252;
  text-shadow: none;
}

.bcategory {
  font-size: 20px !important;
}

.contentoffeature {
  font-size: 15px;
  font-family: 'Code New Roman';
}

.imgb {
  border: 2px solid #FFFFFF;
}

/* Code */
.highlight {
  background-color: #282c34;
  border: 2px solid #FFFFFF;
}

span.w {
  color: white;
}

span.t {
  color: #FF4040;
}

span.a {
  color: #EE9A00;
}

span.i {
  color: #33A1C9;
}

span.v {
  color: #7CCD7C;
}

span.f {
  color: #8470FF;
}

/* custom boostrap buttons */
/*.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 900;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Code New Roman';
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #5F9EA0;
    color: white;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #00868B;
    color: white;
}

.btn-primary:active, .btn-primary.active {
    background: #00868B;
    box-shadow: none;
}*/

/* customs */
.carousel-control.left, .carousel-control.right{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0) 0px, transparent 100%);
}

.carousel-caption {
  padding: 5px;
  position: sticky;
  background-color: #CDC9A5;
  bottom: 0px;
  color: #212121;
  font-size: 16px;
  font-family: 'Code New Roman';
  text-shadow: none;
  font-style: italic;
}
