@font-face {
  font-family: 'SegoeUISymbol';
  src: url('../fonts/SegoeUISymbol.ttf');
}

@font-face {
  font-family: 'Code New Roman';
  src: url('../fonts/cnr.otf');
}

body {
  background: #bababa url('grain.png');
}

footer {
  border-top: 1px solid #5B5B5B;
  position: relative;
  bottom: 0;
  width: 100%;
  height: auto;
  background: #F5F5F5 url('grain.png');
  text-align: center;
}

.title {
  font-size: 58px;
  font-family: 'Code New Roman';
  text-align: left;
  color: #525252;
  text-shadow:#e0e0e0 1px 1px 0;
}

.subtitle {
  font-size: 22px;
  font-family: 'SegoeUISymbol';
  text-align: left;
  color: #525252;
}

.text {
  font-size: 18px;
  font-family: 'SegoeUISymbol';
  text-align: justify;
  color: #525252;
}

.demo {
  padding-top: 40px;
  text-align: center;
}

.section {
  background-color: white;
  border: 3px solid #696969;
}

.titlefeature {
  font-size: 34px;
  font-family: 'SegoeUISymbol';
  color: #525252;
  text-shadow: none;
}

.category {
  font-size: 27px;
  font-family: 'SegoeUISymbol';
  color: #525252;
  text-shadow: none;
}

.bcategory {
  font-size: 20px !important;
}

.contentoffeature {
  font-size: 15px;
  font-family: 'SegoeUISymbol';
}

.imgb {
  border: 2px solid #FFFFFF;
  width: 100%;
}

.link, .link:hover, .link:link, .link:active, .link:visited {
  color: black;
}

/* Code */
.highlight {
  background-color: #282c34;
  border: 2px solid #FFFFFF;
}

span.w {
  color: white;
}

span.t {
  color: #FF4040;
}

span.a {
  color: #EE9A00;
}

span.i {
  color: #33A1C9;
}

span.v {
  color: #7CCD7C;
}

span.f {
  color: #8470FF;
}
