---
layout: blog
---

<div class="container">

  <div class="row">
    <div class="col-xs-8 col-md-offset-2">
      <br/><br/><br/>
      <h1 class="title">Blog</h1>

      <ul class="post-list">
        {% for post in site.posts %}
          <li>

            <div class="post">

              <header class="post-header">
                <h1 class="post-title">{{ post.title }}</h1>
                <p class="text">{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • {{ post.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
                
              </header>

              <article class="text">
                {{ post.content }}
              </article>

            </div>
            <hr/>


          </li>


        {% endfor %}
      </ul>
      <br/><br/>
      <!--p class="text">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p-->
      <br/><br/>
    </div>
  </div>

</div>
