<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>CLI Guide JS</title>
	<link href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}" rel="stylesheet" />
	<link href="{{ "/css/prism.css" | prepend: site.baseurl }}" rel="stylesheet" />
	<link href="{{ "/tutorials/src/cli-guide.css" | prepend: site.baseurl }}" rel="stylesheet" />
</head>
<body>
	<div id="stepsdiv"></div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/js/prism.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/tutorials/src/cli-guide.js" | prepend: site.baseurl }}"></script>
	<script type="text/javascript">

    {{ content }}

  </script>

</body>
</html>
