@font-face {
  font-family: 'Code New Roman';
  src: url('cnr.otf');
}

body {
    margin: 0;
}

code {
    padding: 0.2em 0px;
    margin: 0px;
    font-size: 95%;
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 3px;
}

/* grid */
#steps_block {
    padding: 10px;
    width: 400px;
    float: left;
    font-family: sans-serif;
}

#terminal_block {
    margin-left: 20%;
}

.clear {
    clear: both;
}

#stepscontent {
    text-align: left;
}

div.stepcontent {
	background-color: white;
}

ul.listofsteps {
	list-style-type: none;
    margin: 0;
    padding: 0;
}

li.step {
    display: inline-block;
    background: #dddddd;
    width: 15px;
	height: 23px;
	margin-left: 15px;
    border-radius: 60%;
    padding-left: 7px;
    padding-top: 2px;    
}

li.step:hover {
    background-color: #ABABAB;
}

li.step a {
    text-decoration: none;
}

li.step a:hover, li.step a:visited, li.step a:link {
    color: #212121;
}

ul#listofcommands {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#terminal {
    background-color: black;
    border: none;
    color: white;
    font-size: 14px;
    font-family: 'Code New Roman';
    resize: none;
    overflow:hidden;
    padding: 10px;
}

#terminal ::-moz-selection { /* Code for Firefox */
    color: black;
    background: white;
}

#terminal ::selection {
    color: white;
    background: black;
}
