@font-face {
  font-family: 'SegoeUISymbol';
  src:
  url('SegoeUISymbol.eot?#iefix')
    format('embedded-opentype'),
  url('SegoeUISymbol.woff')
    format('woff'),
  url('SegoeUISymbol.ttf')
    format('truetype'),
  url('SegoeUISymbol.svg#SegoeUISymbol')
    format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Code New Roman';
  src: url('cnr.otf');
}

body {
  margin: 0;
}

code {
  padding: 0.2em 0px;
  margin: 0px;
  font-size: 95%;
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 3px;
}

hr.style {
  border: 0;
  height: 0;
  border-top: 1px
  solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(74, 74, 74, 0.5);
}

.element { overflow: -moz-scrollbars-none; }

/* steps */
#steps_section {
  font-family: 'SegoeUISymbol';
  right: -10px;
}

#stepscontent {
  text-align: left;
}

div.stepcontent {
	background-color: white;
}

ul#listofsteps {
	list-style-type: none;
  margin: 0;
  padding: 0;
}

li.step {
  display: inline-block;
  background: #dddddd;
  width: 20px;
	height: 23px;
	margin-left: 15px;
  border-radius: 50%;
  padding-left: 6px;
  padding-top: 1px;
  margin-bottom: 5px;
}

li.step:hover {
  background-color: #ABABAB;
}

li.step a {
  text-decoration: none;
}

li.step a:hover, li.step a:visited, li.step a:link {
  color: #212121;
}

ul#listofcommands {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#terminal_section {
}

#terminal-parent {
  overflow: hidden;
}

#terminal {
  background-color: black;
  border: none;
  color: white;
  font-size: 14px;
  font-family: 'Code New Roman';
  resize: none;
  width: 100%;
  overflow-y: scroll;
  right: -30px;
}

#editor-parent {
  overflow: hidden;
}

#editor {
  background-color: black;
  border: none;
  color: white;
  font-size: 14px;
  font-family: 'Code New Roman';
  resize: none;
  right: -30px;
}

#terminal ::-moz-selection, #editor ::-moz-selection { /* Code for Firefox */
  color: black;
  background: #F0E68C;
}

#terminal ::selection, #editor ::selection {
  color: black;
  background: #F0E68C;
}

.prompt {
  display: inline-block;
  color: #76EE00;
  height: 15px;
  width: 15%;
}

.textinline {
  display: inline-block;
  height: 15px;
  width: 83%;
}

#editor-header {
  height: 17px;
  color: black;
  background: #cbcbcb;
}

#editor-header-title {
}

#editor-header-filename {
}

#editor-content-parent {
  width: 100%;
  overflow: hidden;
}

#editor-content {
  overflow-y: scroll;
}

#editor-commands {
  position:absolute;
  bottom:0;
}

#command-x {
  color: black;
  background: #cbcbcb;
}

#message-x {
}

#namefile-x {
  color: black;
  background: #cbcbcb;
}

#message-save-x, #q-save-x {
  color: black;
  background: #cbcbcb;
  height: 17px;
}

.editor-command {
  color: black;
  background: #cbcbcb;
}

/* style for templates */
.codeofcommand {
  padding-left: 20px;
  width: 100px;
  height: auto;
  float: left;
}

/* utils */
.filenamewidth {
  width: 19%;
}

.commandwidth {
  width: 14%;
}
